h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Mono', monospace;
}

p, div {
  font-family: 'Roboto Mono', monospace;
}

.home-page-bkgd {
  background-image:url('/img/travel-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.home-page-container {
  height: 200px;
   width: 400px;
   background: none;

   position: fixed;
   top: 30%;
   left: 50%;
   margin-top: -100px;
   margin-left: -200px;
}

.header h1 {
    /*z-index: 1;*/
    position: fixed;
    width: 77%;
    margin-top: -10px;
    height: 50px;
    background-color: #F9C63B;
    /*margin-bottom: 10px;*/
}

.header img {
  width: 97.5%;
}

.content-bkgd-1 {
  background-image:url('/img/content-bkgd.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.content-bkgd-2 {
  background-image:url('/img/mapbw.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
