h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Mono', monospace;
}

p, div {
  font-family: 'Roboto Mono', monospace;
}

.home-page-bkgd {
  background-image:url('/img/travel.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.home-page-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
