<h1>Login to your Account</h1>
  <form method="POST" action="/login">
  <label><strong>Email:</strong></label>
  <input type="text" id="email" name="email"><br>
  <label><strong>Password:</strong></label>
  <input type="text" id="password" name="password"><br>
  <br>
  <input type="submit" value="Login">
</form>
