<h1>Welcome to Travel List</h1>
<p>To start your own travel list, please create an account:</p>
<form method="POST" action='/signup'>
<label><strong>Name:</strong></label>
<input type="text" id="name" name="name"><br>
<label><strong>Email:</strong></label>
<input type="text" id="email" name="email"><br>
<label><strong>Create a Password:</strong></label>
<input type="text" id="password" name="password"><br>
<br>
<input type="submit" value="Create my Account">
</form>
